<mat-toolbar color="primary" class="header-sticky">
  <mat-toolbar-row>
  <span>My App</span>
      <span class="example-fill-remaining-space"></span>
      <span class="align-center"></span>
      <span class="example-spacer"></span>
      <div class="login-header-matMenu" >
      <button mat-button>About</button>
      <button mat-button>Contact</button>
      <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>
      </div>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <mat-icon>dialpad</mat-icon>
      <span>Redial</span>
    </button>
    <button mat-menu-item disabled>
      <mat-icon>voicemail</mat-icon>
      <span>Check voicemail</span>
    </button>
    <button mat-menu-item>
      <mat-icon>notifications_off</mat-icon>
      <span>Disable alerts</span>
    </button>
  </mat-menu>
   </mat-toolbar-row>
</mat-toolbar>

<div class="login-mat-card-div">
<mat-card>
    <mat-card-title color="primary">Login</mat-card-title>
<mat-card-content>
  <!-- <form [formGroup]="form" (ngSubmit)="submit()"> -->
  <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)" validate>
    <p>
      <mat-form-field>
        <input type="text" matInput placeholder="Username" name="loginUsername" ngModel required #loginUsername="ngModel">
      </mat-form-field>
    </p>

    <p>
      <mat-form-field>
        <input type="password" matInput placeholder="Password" name="loginPassword" ngModel required #loginPassword="ngModel">
      </mat-form-field>
    </p>
    <div class="button">
      <button type="submit" mat-button>Login</button>
      <button type="reset" mat-button (click)="loginForm.reset()">Reset</button><br><br>
    </div>
  </form>
  <mat-error *ngIf="login_failure">Username or Password is incorrect!!</mat-error>
</mat-card-content>
</mat-card>
</div>
<footer class="md-padding footer-view">
  <div id="btmFooter">
    <img class="img-responsive" src="assets/Ericsson.png" alt="image">&nbsp;&nbsp;
    <div class="emoji-footer">
    <mat-icon class="white-icon">thumb_up_alt</mat-icon>&nbsp;&nbsp;
    <mat-icon class="white-icon">sentiment_very_satisfied</mat-icon>&nbsp;&nbsp;
    <mat-icon class="white-icon">share</mat-icon>
  </div>
  </div>
</footer>